<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Staatliches" rel="stylesheet">
    <script src="lib/vue.js"></script>
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="styles/main.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body class="dark">
  <content id="app">
    <title>"{{player.currentSong.Title}}" on {{appMeta.name}}</title>
    <h2 align="center">{{appMeta.name}}</h2>
    <header  class="light" id="nowPlaying" v-if="player.isPlaying">
      Now Playing:
      <h1 align="center">{{player.currentSong.Title}}</h1>
      <div id="seekSlide" class="dark">
        <div id="seekRange" class="light" v-bind:style="{width: getSeekAsDec()}"></div>
      </div>
    </header >
  <div v-if="skipEnabled">
    <button v-on:click="voteForSkip"><i class="material-icons md-48">skip_next</i>Skip</button> {{Math.floor(player.numberOfListeners * .5) -  player.skipVotes}} votes needed to skip. <section align="right">There are {{player.numberOfListeners}} active listener(s)!</section>
  </div>
    <div id="playlist">
      <h4 align="center">Up Next!</h4>
      <ol>
        <li v-for="s in player.playlist" v-if="s.Title != player.currentSong.Title" align="left">
          <div class="songName">
            {{s.Title}}
          </div>
          <div align="left" class="songVotes">
            <button class="symbol" v-bind:class="{'flat': s.votesStatus != 1}" v-on:click="s.upvote()" >
              +
            </button>
            <button class="symbol" v-bind:class="{'flat': s.votesStatus != -1}" v-on:click="s.downvote()" >
              -
            </button>
           {{s.votes}} votes
         </div>
       </li>
      </ol>
    </div>

    <div id="nav" align="right">
      <ul>
        <div v-if="showFabMenu">
          <li>
            <button onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSf1IEqn5cn6vBbY1HEIT-MNl9V8l78O2acBY9Q-HEu9MUJhqw/viewform?usp=sf_link', '_blank').focus()">Suggest Song</button>
          </li>
          <li>
            <button onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSd7IENnRFtTd6fdpsVH5w9M2DhCeCo8A2e2A3dv2Z0B-c-Img/viewform?usp=sf_link', '_blank').focus()">Give Feedback</button>
          </li>
          <li>
            <button onclick="alert('Not Yet Added')">About</button>
          </li>
        </div>
        <li>
          <button v-on:click="showFabMenu = !showFabMenu">
              <i class="material-icons md-48">menu</i>
          </button>
        </li>
      </ul>
    </div>
  </content>
</body>
</html>
