<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Staatliches" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="lib/socket.io.dev.js"></script>
    <script src="scripts/main.js"></script>
    <link rel="stylesheet" href="styles/main.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body class="dark">
  <content id="app">
    <title>"{{player.currentSong.title}}" on {{appMeta.name}}</title>
    <h2 align="center">{{appMeta.name}}</h2>
    <header  class="light" id="nowPlaying" v-if="player.isPlaying">
      Now Playing:
      <h1 align="center">{{player.currentSong.title}}</h1>
    </header >
  <div v-if="skipEnabled">
    <button v-on:click="voteForSkip"><i class="material-icons md-48">skip_next</i>Skip</button> {{Math.floor(player.numberOfListeners * .5) -  player.skipVotes}} votes needed to skip. <section align="right">There are {{player.numberOfListeners}} active listener(s)!</section>
  </div>
    <div id="playlist">
      <ol>
        <li v-for="s in player.playlist" align="left">
          <div class="songName">
            {{s.title}}
          </div>
          <div align="left" class="songVotes">
            <button class="symbol" v-bind:class="{'flat': s.votesStatus != 1}" v-on:click="s.upvote()" >
              +<!-- <i class="material-icons md-48">expand_less</i> -->
            </button>
            <button class="symbol" v-bind:class="{'flat': s.votesStatus != -1}" v-on:click="s.downvote()" >
              -<!-- <i class="material-icons md-48">expand_more</i> -->
            </button>
           {{s.votes}} votes
         </div>
       </li>
      </ol>
    </div>

    <div id="nav" align="right">
      <ul>
        <div v-if="showFabMenu">
          <li>
            <button onclick="alert('Not Yet Added')">Add New Song</button>
          </li>
          <li>
            <button onclick="alert('Not Yet Added')">History</button>
          </li>
          <li>
            <button onclick="alert('Not Yet Added')">About</button>
          </li>
        </div>
        <li>
          <button v-on:click="showFabMenu = !showFabMenu">
              <i class="material-icons md-48">menu</i>
          </button>
        </li>
      </ul>
    </div>
  </content>
</body>
</html>
